<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">View Calories</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>All</th>
        <th>Meal</th>
        <th>Calories</th>
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/meals(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="employer : ${employers}">
                <a th:href="@{/meal(column=meal,value=${meal.name})}" th:text="${meal.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="meal : ${meals}">
                <a th:href="@{/meal(column=meal,value=${calorie.number})}" th:text="${calorieCount.number}"></a>
            </li>
        </td>
    </tr>
</table>

</body>
</html>