.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

tr:nth-child(even) {
    background-color: #d4d4d4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

p {
    vertical-align: top;
    margin-left: 30px;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

div.job-listing {
    border: 1px solid #e4e4e4;
    width: 80%;
    background-color: #e4e4e4;
}

body {
}

body::after {
    content: "";
    background-image: url("https://image.freepik.com/free-photo/exercise-weights-iron-dumbbell-with-extra-plates_1423-529.jpg");
    background-repeat: no repeat;
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

.hero {
}

h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}

p {
    font-size: 15;
    font-weight: bold;
    color: white;

}