<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add Food / Beverage</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${meal.name}" />
        <span th:errors="${meal.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Calories</label>
        <input class="form-control" th:field="${meal.description}" />
        <span th:errors="${meal.description}" class="error"></span>
    </div>

    <input type="submit" value="Add Item" />

</form>

</body>
</html>